<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MTOPlayer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="../../static/css/header.css" th:href="@{/css/header.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../../static/js/header.js" th:src="@{/js/header.js}" defer></script>

</head>
<body>
<header>
    <div class="header" th:fragment="headerfrag" >
        <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed pure-g">
            <div class="pure-u-1-3">
                <img class="pure-menu-heading" id="logo" src="../../static/img/logo-name-side.png" th:src="@{/img/logo-name-side.png}">
            </div>
            <div class="pure-u-1-3" id="page-title-container">
                <p>SUBPAGE</p>
            </div>
            <div class="pure-u-1-3">
                <ul class="pure-menu-list">
                    <li class="pure-menu-item" id="profile-pic"><img src="../../static/img/profile_picture.jpg" th:src="@{/img/profile_picture.jpg}" ></li>
                    <li class="pure-menu-item"><a href="#" class="pure-menu-link">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>



    <!--<div>-->
        <!--<img id="logo" src="../static/img/logo.png" th:src="@{/img/logo.png}">-->
        <!--<p id="navbar-name"></p>-->
        <!--<div id="navbar-right">-->
            <!--<img id="profile-pic" src="../static/img/profile_picture.jpg" th:src="@{/img/profile_picture.jpg}" >-->
            <!--<button type="button" id="logout"><i class="fa fa-power-off" aria-hidden="true">logout</i></button>-->
        <!--</div>-->
    <!--</div>-->

</header>

</body>
</html>