@import "utilities/dark_theme_colors";
$primary: #9b59b6;

*:focus {
  outline: none;
}
footer{
  position: fixed;
  bottom: 0;
  width:100%;

  #project-wrapper {
    display: flex;
    display: -webkit-flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;

    #project-container {
      color: white;
      /* height: auto; */
      height: 180px;
      min-width: 300px;
      width: 100%;
      position: relative;
      z-index: 2;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      overflow: hidden;
      -webkit-box-shadow: 0px 3px 15px 	-1px rgba(0,0,0,0.5);
      -moz-box-shadow: 0px 3px 15px -1px rgba(0,0,0,0.5);
      box-shadow: 0px 3px 15px -1px rgba(0,0,0,0.5);

      #overlay {
        position: absolute;
        height: calc(100% + 1px);
        width: calc(100% + 1px);
        z-index: 2;
        background: -moz-linear-gradient(-45deg, #333333 0%, #222222 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg, #333333 0%,#222222 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg, #333333 0%,#222222 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        opacity: .85;
      }

      #player-content {
        text-align: center;
        position: relative;
        z-index: 3;

        h2 {
          font-size: 1.3em;
          margin: 35px 0 0 0;
          font-weight: 600;
        }

        h3 {
          margin: 7px 0 15px 0;
          font-size: 0.9em;
          opacity: .4;
        }

        input {
          width: 100%;
          height: 2px;
          margin: 0 0 15px 0;
          background: -moz-linear-gradient(left, #3498db 0%, #9b59b6 72%); /* FF3.6-15 */
          background: -webkit-linear-gradient(left, #3498db 0%,#9b59b6 72%); /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to right, #3498db 0%,#9b59b6 72%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          -webkit-appearance: none;
          -moz-appearance:    none;
          appearance:         none;

          &::-webkit-slider-thumb {
            -webkit-appearance: none;
            height: 8px;
            width: 8px;
            border-radius: 10px;
            background: #ffffff;
            cursor: pointer;
          }
        }

        #controls {
          height: 50px;
          display: flex;
          display: -webkit-flex;
          -webkit-align-items: center;
          align-items: center;
          -webkit-justify-content: center;
          justify-content: center;

          .column {
            float: left;

            &:nth-child(even) {
              font-size: 1.3em;
            }

            &:nth-child(n+2):nth-child(-n+4) {
              color: white !important;
            }

            &:nth-child(3) {
              font-size: 2em;
            }

            &.active {
              color: $primary;
            }

            i {
              margin: 0 15px;
              cursor: pointer;
            }
          }
        }
      }
    }
  }

  #dailyui {
    position: fixed;
    font-size: 12em;
    font-weight: 700;
    margin: 0 0 -28px 0;
    padding: 0;
    right: 0;
    bottom: 0;
    color: rgba(0, 0, 0, .3);
    z-index: 1;
    text-align: right;
    font-family: 'proxima-nova', 'Lato', sans-serif;
  }
}

#footer-no-music{
  background-color: $dark-theme-black;
  color:white;
  text-shadow:0 0 2px $dark-theme-purple-bright;
  -moz-text-shadow: 0 0 2px $dark-theme-purple-bright;
  -webkit-text-shadow: 0 0 2px $dark-theme-purple-bright;
  padding: 1em;
  text-align: center;

  .column{
    &-title{
    padding-bottom: 1em;
    font-size: 12px;
    letter-spacing: .08em;
    text-transform: uppercase;
    }
    &-item{
      font-size: 16px;
      font-weight: 400;
      padding: .1875em 0;
      margin-bottom: .75em;
      display: inline-block;
      text-decoration: none;

    }
  }
}