<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>MTOPlayer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/main.css" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/header.css" th:href="@{/css/header.css}"/>
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/footer.css" th:href="@{/css/footer.css}"/>
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/categories.css"
          th:href="@{/css/categories.css}"/>
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/connectedApps.css"
          th:href="@{/css/connectedApps.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../static/js/categories.js" th:src="@{/js/categories.js}" defer></script>

<body>
<header></header>
<div id="container">
    <div id="side-bar-categories"></div>
    <div id="content"></div>
</div>
<footer></footer>
</body>
</html>
