<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>MTOPlayer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/main.css" th:href="@{/css/main.css}" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
        crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!--INDEX-->
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/index.css" th:href="@{/css/index.css}" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropbox.js/4.0.12/Dropbox-sdk.js"></script>
    <script type="text/javascript" src="../static/js/index.js" th:src="@{/js/index.js}"></script>



</head>

<body>
    <div th:replace="fragments/header::headerfrag"></div>

    <div id="container">
        <div id="logo">
            <img src="../static/img/logo.png" th:src="@{/img/logo.png}" id="logo-image">
        </div>
        <div id="login-data">
            
            <button class="submit">Login</button>
        </div>
        <div id="signup-data">

            <button class="submit">Sign Up</button>
        </div>
        <div id="about-us">
            <span>
                <p id="first-text">Best music player for DropBox Users!</p>
            </span>
            <div id="about-us-nav">
                <i id="firstPage" class="far fa-circle"></i>
                <i id="secondPage" class="far fa-circle"></i>
                <i id="thirdPage" class="far fa-circle"></i>
            </div>
            <span>
                <p id="second-text">Listen Your favorite music online! </p>
            </span>
        </div>
    </div>

    <div th:replace="fragments/footer::footerfrag"></div>

</body>

</html>