<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Dbox Player</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/main.css" th:href="@{/css/main.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!--PLAYER-->
    <!--<link rel="stylesheet" type="text/css" media="screen" href="../static/css/player.css" th:href="@{/css/player.css}"/>-->
    <script src="../static/js/functionality.js" th:src="@{/js/functionality.js}" defer></script>

    <!--HEADER-->
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css"
          integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/header.css" th:href="@{/css/header.css}"/>
    <script src="../static/js/header.js" th:src="@{/js/header.js}" defer></script>

    <!--FOOTER-->
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/footer.css" th:href="@{/css/footer.css}"/>
    <script src="../static/js/footer.js" th:src="@{/js/footer.js}" defer></script>

</head>

<body>
<div th:replace="fragments/header::headerfrag"></div>

<!--<header>-->
<!--<img src="../static/img/logo.png" th:src="@{/img/logo.png}">-->
<!--<button type="button" id="logout"><i class="fa fa-power-off" aria-hidden="true"></i></button>-->
<!--</header>-->

<div id="content">
</div>

<div th:replace="fragments/footer::footerfrag"></div>

</body>

</html>
