<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>MTOPlayer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/main.css" th:href="@{/css/main.css}" />
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/login.css" th:href="@{/css/login.css}" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
          crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<div id="content">
    <div id="register">
        <h1>Sign Up for free!</h1>

        <form th:action="@{/signUp}" method="POST">
            <div>
            <div class="field-wrap">
                <label>
                    Username<span class="req">*</span>
                </label>
                <input type="text" th:field="*{user.login}" required/>
            </div>

            <div class="field-wrap">
                <label>
                    Email Address<span class="req">*</span>
                </label>
                <input type="email" th:field="*{user.email}" required/>
            </div>

            <div class="field-wrap">
                <label>
                    First Name
                </label>
                <input type="text" th:field="*{userInfo.firstName}"/>
            </div>

            <div class="field-wrap">
                <label>
                    Last Name
                </label>
                <input type="text" th:field="*{userInfo.lastName}"/>
            </div>

            <div class="field-wrap">
                <label>
                    Gender
                </label>
                <input type="text" th:field="*{userInfo.gender}"/>
            </div>

            <div class="field-wrap">
                <label id="birthday">
                    Birthday<span class="req">*</span>
                </label>
                <input id="birthday-input" th:field="*{userInfo.birthday}" class="color-grey" type="date" min="1920-01-01" max="2019-01-01"/>
            </div>

            <div class="field-wrap input-password input-password-choose">
                <label>
                    Password<span class="req">*</span>
                </label>
                <input id="input-password" th:field="*{temporaryPassword.password}"  type="password"  required />
            </div>
            <div id="toggle-password">
                <input id="checkbox-unmask" class="checkbox-unmask" type="checkbox" />
                <label for="checkbox-unmask" class="label-unmask">Show my password</label>
            </div>

            <div th:if="${error != null}" class="isa_error">
                <i class="fa fa-times-circle"></i>
                Username or email is already in the database.
            </div>
            <div th:if="${error2 != null}" class="isa_error">
                <i class="fa fa-times-circle"></i>
                Something went wrong, please try again later or contact us with this problem.
            </div>
            <button class="button button-block" th:type="submit" type="submit"/>Sign Up</button>
            <div id="options">
                <p id="signIn"><a href="#">Already a user?</a></p>
            </div>
            </div>
        </form>

    </div>
</div>

<script type="text/javascript" src="../static/js/login.js" th:src="@{/js/login.js}"></script>
</body>

</html>