<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>MTOPlayer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/main.css" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/header.css" th:href="@{/css/header.css}"/>
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/footer.css" th:href="@{/css/footer.css}"/>
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/sideBar.css" th:href="@{/css/sideBar.css}"/>
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/userInfo.css"
          th:href="@{/css/userInfo.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../static/js/categories.js" th:src="@{/js/categories.js}" defer></script>

<body>
<div th:replace="fragments/header::headerfrag"></div>
<div th:replace="fragments/sideBar::sidebarfrag"></div>

<div id="container">
</div>
<div th:replace="fragments/footer::footerfrag"></div>
<footer></footer>
</body>
</html>
