<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>MTOPlayer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css"
          integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/main.css" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/header.css" th:href="@{/css/header.css}"/>
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/footer.css" th:href="@{/css/footer.css}"/>
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/sideBar.css" th:href="@{/css/sideBar.css}"/>
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/userInfo.css" th:href="@{/css/userInfo.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../static/js/categories.js" th:src="@{/js/categories.js}" defer></script>
<body>
<div th:replace="fragments/header::headerfrag"></div>
<div th:replace="fragments/sideBar::sidebarfrag"></div>

<div id="container">
<form id="profile-context">
    <div>
        <label for="email">E-mail:</label>

        <input name="email" type="email" placeholder="Your email address" th:value="${email}" required autofocus>
    </div>
    <div>
        <label for="first_name">Fist name:</label>

        <input name="first_name" type="text" placeholder="Your first name" th:value="${firstName}" required autofocus>
    </div>
    <div>
        <label for="last_name">Last name:</label>

        <input name="last_name" type="text" placeholder="Your last name" th:value="${lastName}" required autofocus>
    </div>
    <div>
        <label for="gender">Gender:</label>

        <input name="gender" type="text" placeholder="Your gender" th:value="${gender}" required autofocus>
    </div>
    <div><p th:text="'Your join Date: ' +  ${date}">Your join date: we don't know :o</p></div>
    <input name="save_form" type="submit" value="SAVE">
</form>
</div>
<div th:replace="fragments/footer::footerfrag"></div>
<footer></footer>
</body>
</html>
